<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AiTestForTraining.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AiTestForTraining.Properties.Settings>
            <setting name="AppKey" serializeAs="String">
                <value>qqKBvP6rgfooT6KhTE6nAdLb</value>
            </setting>
            <setting name="SecretKey" serializeAs="String">
                <value>Z7ChdikVdDfP2NlKNQ6C5Fv4sqzaB9zI</value>
            </setting>
            <setting name="ConnectString" serializeAs="String">
                <value />
            </setting>
            <setting name="TextTable" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColumn" serializeAs="String">
                <value />
            </setting>
            <setting name="OverLoad" serializeAs="String">
                <value>20</value>
            </setting>
        </AiTestForTraining.Properties.Settings>
    </userSettings>
</configuration>