<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baidu.AI" version="3.3.1.22250" targetFramework="net461" />
  <package id="Dapper" version="1.50.4" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.3.0" targetFramework="net461" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
</packages>